body {
	margin: 0;
	padding: 0;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.curriculum-container {
	max-width: 1200px;
	height: 100%;
	box-sizing: border-box;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: space-between;
}

.content-container {
	flex: 1 0 auto;
	height: auto;
}

.content-container > span {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
}


.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #d8d;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}


.pChange-enter {
	opacity: 0;
}

.pChange-enter.pChange-enter-active {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.pChange-leave {
	opacity: 1;
}

.pChange-leave.pChange-leave-active {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
